@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leftimage{
  display:block;
}
.logodisplay{
  display: none;
}

@media screen and (min-width:100px) {

  .leftimage{
    display:none;
  }
  .logodisplay{
    display:block;
  }
}
@media screen and (min-width:1283px) {
  .leftimage{
    display:block;
  }
  .logodisplay{
    display:none;
  }
}